@tailwind base;
@tailwind components;
@tailwind utilities;


.clicked {
    background-color: rgba(96, 40, 255, 0.7);
    padding: 0rem 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.no-wrap {
    white-space: nowrap;
}

.clicked:hover {
    background-color: rgba(96, 40, 255, 0.9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}